{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "require-jsdoc" : 0,
    "operator-linebreak": "off"
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": ["eslint:recommended", "google"]
}
